AlignTrailingComments            : true
AllowAllParametersOfDeclarationOnNextLine : true
AllowShortBlocksOnASingleLine : false
AllowShortFunctionsOnASingleLine : "None"
AllowShortIfStatementsOnASingleLine : false
AllowShortLoopsOnASingleLine : false
AlwaysBreakBeforeMultilineStrings : true
BasedOnStyle : "Google"
BinPackParameters : false
BreakBeforeBinaryOperators : false
BreakBeforeBraces : "Allman"
BreakBeforeTernaryOperators : false
ColumnLimit : 120
ContinuationIndentWidth :     4
DerivePointerAlignment : false
DisableFormat : false
IndentCaseLabels : true
IndentWrappedFunctionNames : false
IndentWidth : 4
Language : "Cpp"
MaxEmptyLinesToKeep :         1
PointerBindsToType : false
SpaceBeforeAssignmentOperators : true
SpaceBeforeParens : "ControlStatements"
SpacesBeforeTrailingComments : 1
SpacesInCStyleCastParentheses : false
SpacesInParentheses : false
Standard : "Cpp03"
TabWidth : 1
UseTab : "Never"
